@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* 側邊攔 */
.sidebar {
    position: fixed; /* 固定在畫面左側 */
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh; /* 高度佔滿整個視窗 */
    background: #292929;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap; /*文字不換行*/
}

.logo .logo-icon {
    font-size: 18px;
}

.logo .logo-label {
    display: inline-block;
}

.nav-menu {
    list-style: none;
    padding: 16px 0 0 0;
    margin: 0;
    flex: 1;  /* 區塊撐滿剩餘空間 */
}

.nav-menu li {
    margin: 8px 0;
}

.nav-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    color: white;
    text-decoration: none;
    width: 100%;
    border-radius: 6px;
    background: #3d3d3d;
}

.nav-menu a:hover {
    background: #565656;
}

.nav-menu .icon {
    width: 24px;
    text-align: center;
    font-size: 18px;
}

.nav-menu .label {
    white-space: nowrap;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 漢堡按鈕 */
.toggle-btn {
    position: fixed;
    top: 20px;
    left: 230px;
    width: 40px;
    height: 40px;
    background: #292929;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* 初始隱藏，JS套用完狀態後再顯示 */
#sidebar,
#content,
#toggle-btn {
    visibility: hidden;
}

/* 大螢幕 */
@media (min-width: 769px) {
    .sidebar.collapsed {
        width: 60px;
        padding: 20px 8px;
    }  

    .sidebar.collapsed .logo {
        margin-left: 14px;
    }

    .sidebar.collapsed ~ .toggle-btn {
        left: 70px;
    }

    .sidebar.collapsed .logo-label,
    .sidebar.collapsed .label {
        display: none;
    }

    .content {
        margin-left: 230px;
    }

    .sidebar.collapsed ~ .content {
        margin-left: 75px;
    }
}

/* 小螢幕 */
@media (max-width: 768px) {
    .sidebar .logo .logo-icon,
    .sidebar .logo .logo-label,
    .sidebar .label {
        display: none;
    }

    .sidebar .logo {
        height: 30px;
        visibility: hidden;
    }

    .sidebar {
        width: 60px;
        padding: 20px 8px;
        transform: translateX(-60px); /* 初始隱藏 */
    }

    .sidebar.open {
        transform: translateX(0); /* 打開 */
    }

    .toggle-btn {
        left: 8px !important;
    }

    .content { 
        margin-left: 0; /* 內容區靠左 */
    }
}