@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background: #292929;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 30px;
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin: 8px 0;
    background: #3d3d3d;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.content {
    margin-left: 240px;
    padding: 20px;
    min-width: 600px;
}

.nav-menu a {
  display: flex;
  align-items: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  width: 100%;
  border-radius: 6px;
}

.nav-menu a:hover {
  background: #565656;
}