@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

#login-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 999;
}

#greeting {
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.login-btn {
    font-family: "Montserrat", sans-serif;
    min-width: 80px;
    height: 40px;
    background: #292929;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transition: background 0.3s;
}

.login-btn:hover {
    background: #444444;
}
